.form{
    width: 600px;
}

.form .row{
    
    border-bottom:solid thin gray;
    padding-bottom: 7px;
    padding-top: 7px;
}

.row label{
    width: 250px;
    display: inline-block;
}

.row span{
    width:300px;
}