
a {
    color: inherit;
    text-decoration: inherit; /* no underline */
  }


ul#nav{
    list-style: none;
    margin:0;
    padding:0;
}

ul#nav li{ 
    color:white;
    padding:15px;
    text-align: center;
    cursor: pointer;
}

ul#nav li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    
}

ul#nav li.active{
    background-color: rgba(255, 255, 255, 1);
    border-left: solid thin #4e73df;
    color:black;
   
}

ul#nav li.active span{
  border-color: black;
  margin: 0;
}


ul#nav li span{
    display:block;
    border-top: solid thin white;
    border-color:  rgba(255, 255, 255, 0.3);
    font-size: 10pt;
    padding-top: 5px;
    margin-top:5px;
    
}

ul#nav li i{
    padding-bottom: 5px;
}

.insidenav{
    
    height: 25px;
    display: block;
    width: 100%;
}

.insidenav ul{
    list-style: none;
    
}

.insidenav ul li {
    float: left;
    border-left: solid thin rgba(255, 255, 255, 0.3);
    color:white;
    font-size: 12pt;
    cursor: pointer;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4e73df;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.insidenav ul li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color:black;
}